
@{
    ViewData["Title"] = "GreetSomeone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello app</h2>
<form action="/" method="post">
	<p>Name: </p>
	<input type="text" name="MyName" />
	<button type="submit">Klick!</button>
</form>

