
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Anagram checker</h2>

<form action="/" method="post">
	<input type="text" name="MyString" value="" />
	<button type="submit">Klick!</button>
</form>
