@model Name

@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Home/Index.cshtml";
}

<h2>Info of @Model.orcName</h2>

<img src="https://avatars.mds.yandex.net/get-pdb/195449/f98bccc1-46fd-4e22-8b3f-db31c147d3a1/orig">
