@model OrcFarm.Services.OrcService

@{
	ViewData["Title"] = "Info";
	Layout = "~/Views/Home/Index.cshtml";
}

<div style="margin: 10px auto; text-align: center;">
	<h2>Hello, I am @Model.GetName()</h2>

	<img style="padding: 20px;" src="https://img.fireden.net/tg/image/1458/51/1458518857385.gif">
	<form action="info" method="post">
		<p>What should I eat Master?</p>
		<input type="text" name="orcFood" />

	<h3>@Model.GetName()</h3>

	<br />

	
		<button type="submit" value="submit">Submit</button>
	</form>

	<span>@Model.GetName() just ate @Model.GetFood() and can </span>
</div>
