@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Home/Index.cshtml";
}

<div style="margin: 10px auto; text-align: center;">
	<h2>Orc club</h2>

	<form action="/login" method="post" style="margin: 10px auto">
		<p>Write down your Orc name: </p>
		<input type="text" name="orcName" />
		<button type="submit">Gooo!</button>
	</form>

</div>
