@model List<Post>

@{
    ViewData["Title"] = "Home Page";
}

<a href="/submit">Submit new post</a>

<h2>Trending posts</h2>

<table>
	@foreach (Post post in Model)
	{
		<tr>
			<td>@post.Title</td>
		</tr>
	}
</table>
