@model List<Post>

@{
    ViewData["Title"] = "Home Page";
}
<br />
<a href="/submit">Submit new post</a>

<h2>Trending posts</h2>
<table>
	@foreach (Post post in Model)
	{
		int rate = post.Like - post.Dislike;
	<tr>
		<td>@rate</td>
		<td><a href="@post.Id/like"> + </a></td>
		<td><a href="@post.Id/dislike"> - </a></td>
		<td>@post.Title</td>
	</tr>
	}
</table>
