
@{
    ViewData["Title"] = "AddTodo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddTodo</h2>

<form action="/addTodo" method="post">
	Todo:
	<input type="text" name="title" />
	<br />
	Is Urgent:
	<input type="checkbox" name="isUrgent" value="true" />
	<button type="submit">Add</button>
</form>