
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todos for today:</h2>

<ul>
	<li>Start the day</li>
	<li>Finish H2 workshop1</li>
	<li>Finish JPA workshop2</li>
	<li>Create a CRUD project</li>
</ul>
