@model List<TodoModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todos for today:</h2>

<form action="/addTodo" method="post">
	Todo:
	<input type="text" name="title" value="title" />
	<button type="submit">Add</button>
</form>

<ul>
@foreach (TodoModel todo in Model)
{
	<li>@todo.Title</li>
}
</ul>

