@model List<TodoModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todos for today:</h2>

<form action="/addTodo" method="post">
	Todo:
	<input type="text" name="title" />
	Is Urgent:
	<input type="checkbox" name="isUrgent" value="true" />
	<button type="submit">Add</button>
</form>

<ul>
@foreach (TodoModel todo in Model)
{
	<li>Title: @todo.Title; Is Urgent: @todo.IsUrgent</li>
}
</ul>

